#Ambiente
NODE_ENV=development
#URL
BASE_URL=http://localhost
PORT=3000

# Base de dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=erp_ossilvas_dev
DB_LOGGING=false

# Auth
JWT_SECRET=troca-isto-por-um-segredo-aleatorio
JWT_EXPIRES_IN=1d
BCRYPT_ROUNDS=12
